@import "../../Assests/sass/Main.scss";

// .header_section{
a {
  color: none !important;
}
.my_name_logo {
  a {
    text-decoration: none;
  }
  //   a:hover {
  //     color: #fff !important;
  //   }
}
.header_Sec {
  background-color: $light_blue;
  padding: 5px;
}

.my_name_logo_text {
  font-size: 42px !important;
  color: #fff;
  font-family: Times New Roman, Times, serif;
  font-weight: bold;
}

.header_ul {
  li {
    font-size: 21px;
    font-weight: bold;
    font-family: poppins;
    color: #fff !important;

    a:hover {
      color: #fff !important;
    }
  }
}
