@import "../../Assests/sass/Main.scss";

// .header_section{
a {
  color: none !important;
}
.my_name_logo {
  a {
    text-decoration: none;
  }
  
}
.header_Sec {
  box-shadow: 0 2px 20px rgb(0 0 0 / 40%);
   background: #212529d6;
  
}

.navbar-light .navbar-nav .nav-link.active{
  color: #fff !important;
}

.my_name_logo_text {
  font-size: 42px !important;
  color: #fff;
  font-family: Times New Roman, Times, serif;
  font-weight: bold;
}

.header_ul {
  li {
    font-size: 21px;
    font-weight: bold;
    font-family: poppins;
    color: #fff !important;

   
  }
}

.logo{
  position: relative;
  content: "";


  // &::after{
  //     // position: absolute;
  //     // content: "";
  //     // width: 100px;
  //     // height: 100px;
  //     // background: #000;

  //     position: absolute;
  //     content: "";
  //     width: 280px;
  //     height: 90px;
  //     background: #000;
  //     border-radius: 0 0 125px 125px;
  //     top: -34px;
  //     left: 0;
  //     opacity: .8;
  //     z-index: -99;
  //     margin: 18px -24px;
  // }
}